body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cross:hover {
  transition: all ease-in 0.05s;
  transform: scale(1.2);
  cursor: pointer;
}

.book-name {
  font-size: 20px;
}

.book-cover {
  width: 90px;
  height: 100%;
  object-fit: contain;
}

.m-dropdown-menu > .m-dropdown-item {
  cursor: pointer;
}

.m-dropdown-menu > .m-dropdown-item:active {
  background-color: #ffc10790;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #ffc107;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 40px;
    left: 40px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 4px;
    left: 4px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.button-with-link {
  color: black;
  text-decoration: none;
}

.button-with-link:hover {
  color: black;
  text-decoration: none;
}

.chip {
  transition: all ease-in 0.2s;
  background-color: #ffc10730;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.chip-enabled {
  background-color: #ffc107D0;
}

.sidebar-link {
  text-decoration: none;
  line-height: 2.2em;
  font-size: 18px;
  color: black;
  width: 160px;
  display: block;
  padding-left: 14px;
  margin-bottom: 10px;
}

.sidebar-link:hover {
  text-decoration: none;
  color: black;
  background-color: #ffc107d0;
  border-radius: 16px;
}

.as-button {
  background-color: #ffc107;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  color: black;
}

.as-button:hover {
  color: black;
  text-decoration: none;
  background-color: #ffc107b6;
}
