body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cross:hover {
  transition: all ease-in 0.05s;
  transform: scale(1.2);
  cursor: pointer;
}

.book-name {
  font-size: 20px;
}

.book-cover {
  width: 90px;
  height: 100%;
  object-fit: contain;
}

.m-dropdown-menu > .m-dropdown-item {
  cursor: pointer;
}

.m-dropdown-menu > .m-dropdown-item:active {
  background-color: #ffc10790;
}
